div(class="games-back-button")
    a(href="/{{lng}}/#games") <<

div(class="container" ng-controller="CheckersController as ctrl")

    h2 Checkers

    div(class="game-checkers")
        div(style="display:none;")
            | {{
            - for (var x = 0; x < 8; x++)
                - for (var y = 0; y < 8; y++)
                    | tile#{x}#{y} = ctrl.playground.getTileXY(#{x},#{y});
                    | checker#{x}#{y} = tile#{x}#{y}.getChecker();
            | ""}}
        div(class="row")

            div(class="col-md-3")
                div(class="game-checkers-info-bar")
                    |Current player:
                    div(class="game-checkers-checker _inactive _{{ctrl.checkers.getCurrentPlayer()}}")

            div(class="col-md-6")
                div(class="game-checkers-playground")
                    - for (var x = 0; x < 8; x++)
                        - var line_num = 8 - x
                        if x == 0
                            include inc-row-info
                        div(class="game-checkers-playground-row")
                            - for (var y = 0; y < 8; y++)
                                if y == 0
                                    div(class="game-checkers-playground-tile-info")= line_num
                                if (x + y) % 2 != 0
                                    div(class="game-checkers-playground-tile _black {{ tile#{x}#{y}.isAvailable() ? '_available' : '' }}" ng-click="ctrl.checkers.moveCheckerToXY(#{x},#{y})")
                                        div(class="game-checkers-checker _{{ checker#{x}#{y} != null ? checker#{x}#{y}.getType() : '' }} {{ checker#{x}#{y} != null && checker#{x}#{y}.isSelected() ? '_selected' : '' }} {{ checker#{x}#{y} != null && !checker#{x}#{y}.isAvailable() ? '_inactive' : '' }} {{ checker#{x}#{y} != null && checker#{x}#{y}.isKing() ? '_king' : '' }}" ng-if="checker#{x}#{y} != null" ng-click="ctrl.checkers.selectCheckerXY(#{x},#{y})")
                                            div(class="game-checkers-checker-crown")
                                else
                                    div(class="game-checkers-playground-tile _white")
                                if y == 7
                                    div(class="game-checkers-playground-tile-info")= line_num
                        if x == 7
                            include inc-row-info

            div(class="col-md-3")

    script(type="text/ng-template" id="changeGameType.html")
        div(class="modal-header")
            h4(class="modal-title") Please select game type
        div(class="modal-body")
            form(name="gameTypeForm")
                label
                    input(type="radio" ng-model="gameType" value="local")
                    |Local
                br
                label
                    input(type="radio" ng-model="gameType" value="online")
                    |Online
        div(class="modal-footer")
            button(class="btn btn-primary" ng-click="continue()") Continue