div(class="games-back-button")
    a(id='back-button' href="/{{lng}}/#games") <<

div(class="container" ng-controller="CheckersController as ctrl")

    h2 Checkers

    div(class="game-checkers")
        div(style="display:none;")
            | {{
            - for (var x = 0; x < 8; x++)
                - for (var y = 0; y < 8; y++)
                    | tile#{x}#{y} = ctrl.playground.getTileXY(#{x},#{y});
                    | checker#{x}#{y} = tile#{x}#{y}.getChecker();
            | ""}}
        div(class="row")

            div(class="col-md-12")
                div(class="game-checkers-info-bar")
                    |Current player:
                    div(class="game-checkers-checker _inactive _{{ctrl.checkers.getCurrentPlayer()}}")
                    span(style="visibility: {{ ctrl.checkers.isPlayerActive() ? 'visible' : 'hidden' }}") &nbsp;YOUR TURN!

        div(class="row")
            div(class="col-md-12")
                div(class="game-checkers-playground")
                    - for (var x = 0; x < 8; x++)
                        - var line_num = 8 - x
                        if x == 0
                            include inc-row-info
                        div(class="game-checkers-playground-row")
                            - for (var y = 0; y < 8; y++)
                                if y == 0
                                    div(class="game-checkers-playground-tile-info")= line_num
                                if (x + y) % 2 != 0
                                    div(class="game-checkers-playground-tile _black {{ tile#{x}#{y}.isAvailable() ? '_available' : '' }}" ng-click="ctrl.moveCheckerToXY(#{x},#{y})")
                                        div(class="game-checkers-checker _{{ checker#{x}#{y} != null ? checker#{x}#{y}.getType() : '' }} {{ checker#{x}#{y} != null && checker#{x}#{y}.isSelected() ? '_selected' : '' }} {{ checker#{x}#{y} != null && !checker#{x}#{y}.isAvailable() ? '_inactive' : '' }} {{ checker#{x}#{y} != null && checker#{x}#{y}.isKing() ? '_king' : '' }}" ng-if="checker#{x}#{y} != null" ng-click="ctrl.selectCheckerXY(#{x},#{y})")
                                            div(class="game-checkers-checker-crown")
                                else
                                    div(class="game-checkers-playground-tile _white")
                                if y == 7
                                    div(class="game-checkers-playground-tile-info")= line_num
                        if x == 7
                            include inc-row-info

    script(type="text/ng-template" id="changeGameType.html")
        div(class="modal-header")
            h4(class="modal-title") Please select game type
        div(class="modal-body")
            div(class="radio")
                label
                    input(type="radio" ng-model="gameType" value="local")
                    |Local
            div(class="radio")
                label
                    input(type="radio" ng-model="gameType" value="online")
                    |Online
        div(class="modal-footer")
            button(class="btn btn-primary" ng-click="continue()") Continue

    script(type="text/ng-template" id="waitingOfOpponent.html")
        div(class="modal-header")
            h4(class="modal-title") Waiting of your friend
        div(class="modal-body")
            | Please give a link below to your friend:
            input(class="form-control" type="text" ng-init="linkForFriend='#{baseUrl}' + url + roomId" ng-model="linkForFriend" readonly)
        div(class="modal-footer")
            button(class="btn btn-primary" clip-copy="linkForFriend") Copy to clipboard

    script(type="text/ng-template" id="gameIsFinished.html")
        div(class="modal-header")
            h4(class="modal-title") {{winnerColor}} won!
        div(class="modal-body")
            form(name="gameTypeForm")
                | What do you want?
        div(class="modal-footer")
            button(class="btn btn-default" ng-click="finishGame()") Finish and go to main page
            button(class="btn btn-primary" ng-click="playAgain()") Play again

    script(type="text/ng-template" id="roomDoesNotExists.html")
        div(class="modal-header")
            h4(class="modal-title") Game does not exists!
        div(class="modal-body")
            form(name="gameTypeForm")
                | Unfortunately game does not exists.
        div(class="modal-footer")
            button(class="btn btn-default" ng-click="goToMainPage()") Go to main page
            button(class="btn btn-primary" ng-click="startNewGame()") Start new game

    script(type="text/ng-template" id="roomIsClosed.html")
        div(class="modal-header")
            h4(class="modal-title") Game finished!
        div(class="modal-body")
            form(name="gameTypeForm")
                | Your opponent left the game.
        div(class="modal-footer")
            button(class="btn btn-default" ng-click="goToMainPage()") Go to main page
            button(class="btn btn-primary" ng-click="startNewGame()") Start new game

    script(type="text/ng-template" id="wainingOpponentDecision.html")
        div(class="modal-header")
            h4(class="modal-title") Waiting...
        div(class="modal-body")
            form(name="gameTypeForm")
                | Waiting for your opponent decision...
        div(class="modal-footer")
            button(class="btn btn-default" ng-click="goToMainPage()") Go to main page
            button(class="btn btn-primary" ng-click="startNewGame()") Start new game